<p>
	Excellent! Vous voilà réjoui(e) de savoir qu'il y a effectivement 4 étoiles de mer bleues dans ce quartier du port. Vous vous demandez comment elles se sont décrochées du Krosmos pour atterrir ici.<br/>
	<br/>
	Votre rêverie s'interrompt brusquement par une désagréable impression d'être observé(e). 
	Vous empoignez votre arme et fouillez dans votre havre-sac à la recherche d'un parchemin de révélation. 
	Après avoir prononcé l'incantation pour l'activer, vous percevez votre "agresseur".<br/>
	Il s'agit d'un petit garçon d'une dixaine d'années. Comprenant qu'il est repéré, il sort tranquillement de sa cachette et se dirige vers vous.
</p>
<div class="clearfix w-100"></div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Max</h4></div>
		<p>
			Vous êtes vraiment fort(e) ! D'habitude, personne ne me remarque. Je suis Max, j'aime me cacher dans le port pour observer les adultes.
			C'est pas pour faire des bêtises, c'est juste parce que ça m'amuse. Quand je serai grand, je rejoindrai l'Ordre de l'Oeil Attentif de la milice de Bonta !<br/>
		</p>
	</div>
</div>
<div class="col-md-3 col-12 center">
	<img class="npc-img img-flip" src="public_html/img/max.png"/>
</div>
<div class="clearfix w-100"></div>
<p>
	<br/>
	Max change ensuite brutalement de sujet. Parlez-lui (dans le jeu) et trouvez la personne qu'il mentionne. Cette personne aime se reposer près d'ici, au bord de la rivière.<br/>
	<br/>
	Engagez la conversation avec cette personne. <b class="text-warning">Quel est le 2ème ingrédient de sa préparation ?</b>
</p>