<p>
	Excellent! Vous voilà réjoui(e) de savoir qu'il y a effectivement 4 étoiles de mer bleues dans ce quartier du port. Vous vous demandez comment elles se sont décrochées du Krosmos pour atterrir ici.<br/>
	<br/>
	Votre béatitude attire l'attention d'un enfant qui jouait tout près de vous. Trouvez la personne mentionnée par l'enfant. Laissez vous guider par les étoiles et longez la rivière ;)<br/>
	<br/>
	Engagez la conversation avec cette personne. <b class="text-warning">Quel est le 2ème ingrédient de sa préparation ?</b>
</p>