<div class="col-md-3 col-12 center">
	<img class="npc-img" src="public_html/img/karim.png"/>
</div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Karim Katékit</h4></div>
		<p>
			Je suis inquiet et contrarié, mon ami Lichen est mort brutalement la semaine dernière. Il n'était pas du genre à avoir des problèmes et si ça avait été le cas, il m'en aurait parlé.
			Je ne sais même pas de quoi il est mort ! Il y a un mystère là-dessous.
			Pourriez-vous me rendre service en enquêtant sur sa mort ? Entre Rangers du Risque, on peut s'entraider !<br/>
		</p>
	</div>
</div>
<div class="clearfix w-100"></div>
<p>
	<br/>
	Allez au cimetière de la ville et lisez l'épitaphe sur la tombe de Lichen. <b class="text-warning"> Comment est-il décédé ?</b>
</p>