<p>
	La cuisinière accepte de vous aider.
</p>
<div class="clearfix w-100"></div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Sbab</h4></div>
		<p>
			L'exploitation de boudin de lapin ? Mais bien sûr que je la connais ! Cependant, depuis quelques jours, plus moyen de se procurer du boudin.
			La ferme était pourtant prospère et on dit partout que le patron est riche comme Nidas ! Si vous voulez mon avis, il y a anguille sous roche.<br/>
			Voilà comment vous rendre sur place :<br/>
		</p>
	</div>
</div>
<div class="col-md-3 col-12 center">
	<img class="npc-img img-flip" src="public_html/img/sbab.png"/>
</div>
<div class="col-12">
	<p>
		<ul>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Commencez depuis le Zaap des Routes Rocailleuse <img class="img-icon" src="public_html/img/zaap.png"/></li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Prenez plein Sud jusqu'au Corbac</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Puis plein Est jusqu'au Chacha</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Ensuite, prenez au Sud jusqu'à la belle fleur violette et orange</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Il y a un corbac près de la fleur, courez dans la direction dans laquelle il regarde, jusqu'à une botte de paille</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Descendez dans les Landes jusqu'au chariot bâché</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Allez ensuite vers l'Ouest jusqu'à la tente en os et en peaux de bêtes</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Remontez jusqu'à voir un squelette de dragon</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Cherchez un empilement de rondins juste à votre gauche</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>De là, prenez plein nord jusqu'à l'arbre gigantesque. N'hésitez pas à faire reposer votre monture sous son ombre</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Et à partir de là, vous allez direction soleil couchant jusqu'à la plage. Profitez bien du coucher de soleil !</li>
		</ul><br/>
	</p>
</div>
<div class="clearfix w-100"></div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Sbab</h4></div>
		<p>
			Depuis la plage, vous all... nom d'un Bouftou ! Ma fricassée de Moskitos est en train d'attacher ! Fichez le camp de ma cuisine. Vous allez trouver, ce n'est plus très loin et il y a des lapins partout, vous n'avez qu'à les suivre !<br/>
			<br/>Parlez au type louche en bleu près de l'étang. <b class="text-warning">Quel est son familier ?</b>
		</p>
	</div>
</div>
<div class="col-md-3 col-12 center">
	<img class="npc-img img-flip" src="public_html/img/sbab_angry.png"/>
</div>
<div class="clearfix w-100"></div>