<p>
	La cuisinière accepte de vous aider.
</p>
<div class="clearfix w-100"></div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Sbab</h4></div>
		<p>
			L'exploitation de boudin de lapin ? Mais bien sûr que je la connais ! Cependant, depuis quelques jours, plus moyen de se procurer du boudin.
			La ferme était pourtant prospère et on dit partout que le patron est riche comme Nidas ! Si vous voulez mon avis, il y a anguille sous roche.<br/>
			Voilà comment vous rendre sur place :<br/>
		</p>
	</div>
</div>
<div class="col-md-3 col-12 center">
	<img class="npc-img img-flip" src="public_html/img/sbab.png"/>
</div>
<div class="col-12">
	<p>
		<ul>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Commencez depuis le Zaap des Route Rocailleuse</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Prenez plein sud jusqu'au Corbac</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Puis droite et bas pour arriver sur une intersection</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Descendez, et vous arrivez dans un virage</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Bon, euh... depuis le virage c'est tout à gauche jusqu'à un étang avec un merisier. Vous ne pouvez pas vous tromper, il n'y a rien d'autre, pas même une ortie</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Ça tombe bien, en parlant d'arbres, vous remontez un coup pour rejoindre le pied la montagne, et là BAM! Un arbre remarquable. N'hésitez pas à faire reposer votre monture sous son ombre.</li>
			<li><img class="img-icon" src="public_html/img/treasure_map.png"/>Et à partir de là, vous allez direction soleil couchant jusqu'à la plage. Profitez bien du couché de soleil, hein !</li>
		</ul><br/>
	</p>
</div>
<div class="clearfix w-100"></div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Sbab</h4></div>
		<p>
			Depuis la plage, vous all... nom d'un Bouftou ! Ma fricassée de Moskitos est en train d'attacher ! Fichez le camp de ma cuisine. Vous allez trouver, ce n'est plus très loin et il y a des lapins partout.<br/>
			<br/>Parlez au type louche en bleu. <b class="text-warning">Quel est son familier ?</b>
		</p>
	</div>
</div>
<div class="col-md-3 col-12 center">
	<img class="npc-img img-flip" src="public_html/img/sbab_angry.png"/>
</div>
<div class="clearfix w-100"></div>