<p>
	Le-Patron est désespéré et amer.<br/>
	<br/>
</p>
<div class="clearfix w-100"></div>
<div class="col-md-3 col-12 center">
	<img src="public_html/img/sim-le-soft.png"/>
</div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Le-Patron</h4></div>
		Je ne comprends pas comment tout cela a pu arriver. Tout était aux normes. L'exploitation tournait à plein régime.
		On exportait notre boudin d'un bout à l'autre du monde des douze. Le monde entier l'adorait.
		Même les wabbits en raffolaient !<br/>
		C'est un coup monté, j'en suis certain.
		Lichen était mon employé. C'est lui qui réceptionnait les recettes des ventes et qui faisait la comptabilité.
		Ce n'est pas possible qu'il soit mort d'une indigestion de boudin. Vous devez découvrir la vérité, pour Lichen et pour redorer le blason du boudin de lapin. <br/>
		Parlez à Mori Arty, c'est le contremaître de mon exploitation. J'ai toute confiance en lui. Il est dans son échope sur le port de Madrestam, 
		entre les bateaux de ligne qui vont à Pandala et à l'Île des Wabbits.
	</div>
</div>
<div class="clearfix w-100"></div>
<br/>
<b class=\"text-warning\">Quel est le 14ème mot qu'il prononce ?</b>
	