<p>
	Mori Arty a l'air sombre et préoccupé.<br/>
	<br/>
</p>
<div class="clearfix w-100"></div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Mori Arty</h4></div>
		Je suis de l'avis de Le-Patron. Nous avons été victimes d'un coup monté.
		Le meurtrier de Lichen a aussi dérobé la recette de la dernière vente de boudin qui se trouvait dans le bateau du patron, dont Lichen avait la garde.
		Retrouvez le bateau, vous aurez le magot et vous tiendrez le meurtrier. <br/>
		J'ignore où il se trouve, mais le fossoyeur qui a enterré Lichen a peut-être toujours ses dernières possessions.
		Avant de se faire X6 par je ne sais quel brigand, il a dû indiquer quelque part la position de son bateau.
	</div>
</div>
<div class="col-md-3 col-12 center">
	<img class="npc-img img-flip" src="public_html/img/mori_arty.png"/>
</div>
<div class="clearfix w-100"></div>
<p>
	<br/>
	<ul>
		<li>Le Fossoyeur se trouve à l'endroit indiqué par cette charade :</li>
		<li><img src="public_html/img/scroll_question.png"/>Mon premier est un genre de musique électronique psychédélique</li>
		<li><img src="public_html/img/scroll_question.png"/>Mon second est une variété de bière noire.</li>
		<li><img src="public_html/img/scroll_question.png"/>Mon troisième est un délicieux fromage de vache au lait cru, portant le même nom qu'une région agricole très plate.</li>
		<li><img src="public_html/img/scroll_question.png"/>Il est confortable de porter mon quatrième à Frigost.</li>
		<li><img src="public_html/img/scroll_question.png"/>Mon cinquième est un mammifère ruminant de la famille des cervidés.</li>
	</ul>
	<b class="text-warning">Quel est mon tout ?</b>
</p>