<p>
	Bravo ! Rendez-vous au Transporteur Brigandin le plus proche de Mori Arty.
	Le fossoyeur (en mode marchand) vous montre les objets que possédait Lichen quand il est mort. <u>Merci de ne pas acheter les items !</u>
	Trouvez la map précise que désignent ces items. L'objet interractif qui se trouve sur cette map vous désignera un personnage qui porte un bâton. (il n'est pas tout à fait à l'endroit où vous le voyez)</br>
	Rendez visite à ce personnage. <b class="text-warning">De quel endroit parle-t-il dans sa chanson ?</b>
</p>