<p>
	Il n'y a rien du tout dans la cale, si ce n'est une touffe d'herbe laissée par une botte sale. Le meurtrier a déjà dérobé le magot de Le-Patron.<br/>
	La touffe d'herbe pourrait provenir de n'importe où. Aucun indice dans la cale ne vous permet d'identifier le voleur. Tout semble perdu.<br/>
	Vous vous apprêtiez à renoncer à toute l'enquête et vous remplir de bière dans un bar crado du port jusqu'à tout oublier. Soudain, une idée fulgurante vous traverse l'esprit. Et si quelqu'un avait été témoin du meurtre du Lichen sur le port ce soir-là ?
	Quelqu'un qui n'aurait pas compris le sens réel de ce qu'il a vu. Vous vous rappelez votre rencontre avec un petit garçon qui aime jouer aux espions.
	<b class=\"text-warning\">Qui est cet enfant ?</b>
</p>