
<div class="clearfix w-100"></div>
<div class="col-md-3 col-12 center">
	<img src="public_html/img/max.png"/>
</div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Max</h4></div>
		Oui, je m'en souviens. J'ai vu un monsieur qui faisait très peur et qui portait un large chapeau bleu en forme de champignon.
		Il est monté dans un bateau puis j'ai entendu des voix qui se disputaient comme papa et maman quand ils ont trop bu et après ils s'endorment.
		Après, le monsieur qui fait peur est sorti du bateau et il portait un autre monsieur qui avait l'air de dormir. Tu crois qu'il avait trop bu comme maman et papa ?<br/>
	</div>
</div>
<div class="clearfix w-100"></div>
<br/>
<p>
	Vous connaissez l'assassin. <b class=\"text-warning\">Comment s'appelle-t-il ?</b>
</p>
