
<div class="clearfix w-100"></div>
<div class="col-md-3 col-12 center">
	<img src="public_html/img/max.png"/>
</div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Max</h4></div>
		Après, le monsieur-champignon a laissé l'autre monsieur qui dormait dans un buisson et puis il a sorti un gros coffre du bateau et il l'a transporté jusqu'à chez lui. Il habite juste ici près de la fontaine.<br/>
	</div>
</div>
<div class="clearfix w-100"></div>
<br/>
<p>
	Trouvez la maison et ouvrez le coffre. Le code doit être un nombre très important pour son propriétaire.<br/><br/>
	Le coffre contient des Kamatrix. Merci d'en prendre <b>un seul</b> et retournez annoncer la bonne nouvelle à Le-Patron à Brâkmar et lancez-lui échange. Il saura vous récompenser à la mesure de vos efforts.<br/>
	Le 1er joueur obtiendra 5 galets Cramoisi, Rutilant, Brasillant<br/>
	Le 2nd joueur obtiendra 4 galets Cramoisi, Rutilant, Brasillant<br/>
	Le 3ème joueur obtiendra 3 galets Cramoisi, Rutilant, Brasillant<br/>
	Le 4ème joueur obtiendra 2 galets Cramoisi, Rutilant, Brasillant<br/>
	Le 5ème joueur obtiendra 1 galets Cramoisi, Rutilant, Brasillant<br/>
	
	Félicitations, vous avez terminé cette chasse au trésor !
</p>