<div class="clearfix w-100"></div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Max</h4></div>
		Après, le monsieur-champignon a laissé l'autre monsieur qui dormait dans un buisson et puis il a sorti un gros coffre du bateau et il l'a transporté jusqu'à chez lui. Il habite juste ici près de la fontaine.<br/>
	</div>
</div>
<div class="col-md-3 col-12 center">
	<img class="npc-img img-flip" src="public_html/img/max.png"/>
</div>
<div class="clearfix w-100"></div>
<p><br/>
	Trouvez la maison et ouvrez le coffre. Le code doit être un nombre très important pour son propriétaire.<br/><br/>
	<b class="text-warning">Que contient le coffre ?</b>
</p>