<p>
	Vous faites la connaissance de Sim le Soft. Il vous rabat les oreilles pendant une heure avec ses histoires de Kanigrous, dont vous n'avez que faire. Vous êtes cependant impressionné(e) par <u>le nombre de Kanigrous qu'il a tués</u>.<br/>
	<br/>
</p>
<div class="col-md-3 col-12 center">
	<img src="public_html/img/sim-le-soft.png"/>
</div>
<div class="col-md-9 col-12">
	<div class="speech p-4">
		<div class="title-speech"><h4>Sim le Soft</h4></div>
		<p>
			L'exploitation de boudin de lapins a été fermée suite à une inspection sanitaire. De toute façon, ça allait faire faillite tôt ou tard, le patron était fauché. Il est maintenant sous les verrous et c'est bien comme ça.<br/>
			<br/>
			Un détail retient votre attention. Sbab racontait que le patron était riche alors que Sim le Soft prétend le contraire. L'un des deux se trompe ... ou ment ? Pour en avoir le coeur net, interrogez directement le patron, qui est détenu dans les geoles de Brâkmar. <b class="text-warning">Comment se nomme-t-il ?</b>
		</p>
	</div>
</div>