@use 'sass:color';

// override theme
$primary: #cced03; // green
$secondary: #292C24; // dark gray
$warning: #E6893D; // orange
$info: #3AF2FF; // blue
$text-color: #D3D3D3; // light gray


@import "./node_modules/bootstrap/scss/bootstrap";

// html tags
body {
	background-color: rgba($secondary, 0.85);
}

button {
	&:hover {
		background-color: color.scale($primary, $lightness: -30%);
	}
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	width: 100%;
	list-style: none;

	li img {
		max-width: calc(1% + 1vw + 1vh) !important;
		max-height: 35px;
		margin-right: 0.5rem;
	}
}

//class
.center {
	text-align: center;
}

.content {
	color: $text-color;
	padding: 1em;
	font-weight: 700;
	font-size: calc(1% + 1vw + 1vh);
}

.img-flip {
	transform: scaleX(-1);
}

.npc-img {
	max-height: 400px;
}

.separator {
	border-top: 6px dashed $info;
	border-radius: 5px;
	max-width: 50%;
	background-color: color.scale($info, $lightness: -30%);
	clear: both;
}

.speech {
	position: absolute;
	bottom: 0;
	background-image: url('img/background_speech.png');
}

@keyframes spinning {
	from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}
.loading-spiner {
	animation-name: spinning;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	/* linear | ease | ease-in | ease-out | ease-in-out */
	animation-timing-function: linear;
}

.title-speech {
	color: #615d56;
	display: block;
	width: 100%;
	background-image: url('img/background_title_speech.png');
}

// media queries
@media (min-width: 768px) {
	.content {
		font-size: 16px;
	}
}

@media (max-width: 900px) {
	.speech {
		position: static;
		bottom: auto;
	}
}