<!--
*
*
*				Si vous lisez ceci, c'est que vous êtes curieux voire admirateur.
*
*				Ou bien vous essayez de tricher, auquel cas, vous aurez
*				sincèrement plus vite fait de faire la chasse au trésor, ça vous
*				prendra bien moins de temps...
*
*				En attendant, GL&HF =D
*
-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chasse au trésor Peaky-Blinders</title>
	
	<link href="public_html/override.min.css" rel="stylesheet"/>
	<link href="public_html/stillshit.min.css" rel="stylesheet"/>

	<script src="node_modules/jquery/dist/jquery.min.js"></script>

</head>