<!DOCTYPE html>
<html lang="fr">
	<%- include('./head'); %>
	
	<body>
		<div class="content container-lg px-3 px-lg-0">
			<div class="row">
				<div class="col-12 title center mb-3">
					<img src="public_html/img/logo.png" alt="logo-peaky-blinders"></img>
					<h1>La chasse au trésor des Peaky-Blinders</h1>
				</div>
				<%- include('./presentation'); %>
			</div>
			<div class="row">
				<div class="col-12 indices">
					<div class="row">
						<button id="start" type="button" class="btn btn-primary btn-lg w-100">C'est parti !</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 answerField" style="display: none;">
					<form class="row">
						<div class="input-group input-group-lg mb-1">
							<input id="answer" type="text" disabled="disabled" autocomplete="off" class="form-control col-9" placeholder="Tapez ici votre réponse..." aria-describedby="button-answer"/>
							<button class="btn btn-primary col-3" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" type="submit" id="button-answer">
								<span class="loading-spiner spinner-border spinner-border-sm"></span>
								Envoyer!
							</button>
						</div>
						<input id="progression" value="0CTOSMJF6PH" type="hidden" />
					</form>
					<div class="row">
						<div class="col-12 wrongAnswer-container alert alert-danger"  style="display: none;" role="alert">
							<span class="alert-close close float-end" aria-label="Close"><span aria-hidden="true">&times;</span></span>
							<div class="wrongAnswer"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-12" id="progressView">
					
				</div>
			</div>
		</div>
		<script src="public_html/frontend.min.js"></script>
	</body>
</html>