<div class="presentation col-12 mb-3">
	<div class="row p-2">
		<p>Bienvenue sur le site web de la chasse au trésor de l'alliance Peaky-Blinders du <u>16/02/2021</u> !
		<br/>S'il y a des choses que vous ne connaissez pas pendant la chasse (énoncés de charades...), cherchez en ligne.<br/><u>Prévoyez</u> au moins 5 000 kamas avec vous, il serait préférable d'être au moins niveau 50 pour éviter les agressions, emportez quelques potions de rappel et du poisson pour votre monture !<br/>
		<br/>
		<br/>
		<u>Zaaps à connaître</u>:
		<ul class="zaap">
			<li><img class="img-icon" src="public_html/img/zaap.png"/> Cité d'Astrub - Astrub <b class="text-info">[-26,35]</b></li>
			<li><img class="img-icon" src="public_html/img/zaap.png"/> Centre-Ville - Brâkmar <b class="text-info">[-26,35]</b> (ou potion de Brâkmar)</li>
			<li><img class="img-icon" src="public_html/img/zaap.png"/> Port de Madrestam - Amakna <b class="text-info">[7,-4]</b></li>
			<li><img class="img-icon" src="public_html/img/zaap.png"/> Routes Rocailleuses - Plaines de Cania <b class="text-info">[-20,-20]</b></li>
			<li><img class="img-icon" src="public_html/img/zaap.png"/> Sufokia - Baie de Sufokia <b class="text-info">[13,26]</b></li>
		</ul>
		</p>
		<p>
			Cette chasse est une création originale de la guilde <u>l'Amour Universel</u> <img class="img-icon" src="public_html/img/logo_amour.png"/>:
			<ul>
				<li>Alan (Boulon/Cendrier/John-Travelota)</li>
				<li>Mika (Raie-Spire/Ciemne-Gouwno)</li>
				<li>Bruno (Poly/Petay/Guy-Mauve)</li>
			</ul>
		</p>
	</div>
</div>